*{
  margin:0;
  padding:0;
}

.wrapper {
height:100vh;

}
.parallax1{
  background-image: url("http://res.cloudinary.com/dyag5tn5v/image/upload/v1518157937/header_-_Copy_-_Copy_-_Copy_lv6nh9.jpg");
  background-color: white;
  min-height:100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size:cover;}
  .parallax2 {
  background-image: url("http://res.cloudinary.com/dyag5tn5v/image/upload/v1518173204/1__1_96_-_Copy_vomn5q.jpg");
  background-color: black;
  min-height: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 1350px;

}

/*first page*/
  .item1{
    background-color:yellow;
    color:DarkSlateGrey;
    width:400px;
    max-height:200px;
    padding: 10px 10px 0 10px;
    text-align:left;
    font-size:130px;
    font-family: 'Josefin Sans', sans-serif;
    position:relative;
    top:15%;
    left:10%;
  }
  .item2{
    background-color:yellow;
    color:DarkSlateGrey;
    width:460px;
    max-height:200px;
    padding: 10px 10px 0 10px;
    text-align:left;
    font-size:130px;
    font-family: 'Josefin Sans', sans-serif;
    position:relative;
    top:20%;
    left:10%;
  }
  .item3{
    background-color:yellow;
    color:DarkSlateGrey;
    width:120px;
    max-height:200px;
    padding: 10px 10px 0 10px;
    text-align:left;
    font-size:130px;
    font-family: 'Josefin Sans', sans-serif;
    position:relative;
    top:25%;
    left:10%;
  }

  .item4{
    background-color:white;

    width:200px;
    height:33px;
    text-align:left;
    font-weight:thin;
    align-self:end;
    font-family: 'Josefin Sans', sans-serif;
    position:relative;
    top:27%;
    left:10%;
  }
/*second page*/

@media only screen and (max-width: 400px){
  .wrapper {
  height:100vh;

  }
  .parallax1{
    background-image: url("http://res.cloudinary.com/dyag5tn5v/image/upload/v1518074316/header_cg6vq5.jpg");
    background-color: white;
    min-height:540px;
    background-attachment:scroll;
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;}
    .item1{
      width:210px;
      max-height:200px;
      padding: 10px 10px 0 10px;
      text-align:left;
      font-size:60px;
      position:relative;
      top:57%;
      left:10%;
    }
    .item2{

      width:240px;
      max-height:200px;
      padding: 10px 10px 0 10px;
      text-align:left;
      font-size:60px;
      position:relative;
      top:59%;
      left:10%;
    }
    .item3{
      width:50px;
      max-height:200px;
      padding: 10px 10px 0 10px;
      text-align:left;
      font-size:60px;
      position:relative;
      top:61%;
      left:10%;
    }

    .item4{
      background-color: rgba(255,255,255,0.6);
      width:150px;
      height:20px;
      text-align:left;
      font-weight:thin;
      align-self:end;
      position:relative;
      top:60%;
      left:57%;
    }
}
